---
layout: base.njk
eleventyExcludeFromCollections: true
pagination:
  data: collections.posts
  size: 10
  reverse: true
permalink: "/posts/{% if pagination.pageNumber > 0 %}/page-{{ pagination.pageNumber + 1 }}/{% endif %}index.html"
---

{# html #}
	{# body #}
		{# div .container #}
      {% for post in pagination.items %}
      <!--Post-->
			<div class="w-full px-4 md:px-6">
				<!--Title-->
				<h1 class=" text-xl md:text-2xl">
					<a class="text-green-500 hover:underline" href="{{ post.url }}">{{ post.data.postTitle }}</a>
				</h1>
				<p class="mb-9 ml-4 text-gray-600 text-xs md:text-sm">
          {% if post.data.history.length > 1 %}
						Modified
					{% else %}
						Created
					{% endif %}
					{{ post.data.history[post.data.history.length - 1].getDate() }} {{ months[post.data.history[post.data.history.length - 1].getMonth()] }} {{ post.data.history[post.data.history.length - 1].getFullYear() }}
				</p>
      </div>
      {% endfor %}
      
      <div class="flex justify-between mb-12 mt-8 mx-4 text-gray-600 text-sm md:text-base">
        <div>
          {% if page.url != pagination.href.first %}
          {% if pagination.href.previous != pagination.href.first %}
          <a class="inline-block w-20 hover:text-gray-900 hover:underline" href="{{ pagination.href.first }}"><< First</a>
          {% else %}
          <span class="inline-block w-20"></span>
          {% endif %}
          <a class="inline-block w-20 hover:text-gray-900 hover:underline" href="{{ pagination.href.previous }}">< Previous</a>
          {% endif %}
        </div>
        <div>
          {% if page.url != pagination.href.last %}
          <a class="inline-block text-right w-20 hover:text-gray-900 hover:underline" href="{{ pagination.href.next }}">Next ></a>
          {% if pagination.href.next != pagination.href.last %}
          <a class="inline-block text-right w-20 hover:text-gray-900 hover:underline" href="{{ pagination.href.last }}">Last >></a>
          {% else %}
          <span class="inline-block w-20"></span>
          {% endif %}
          {% endif %}
        </div>
      </div>
		{# /div .container #}
	{# /body #}
{# /html #}
