---
layout: base.njk
permalink: 404.html
---

{# html #}
	{# body #}
		{# div .container #}
			<div class="w-full px-4 md:px-6">
				<h1 class="font-bold mb-8 text-3xl text-center md:text-4xl">
					404 Not Found
				</h1>
				<p class="mb-9 text-center text-gray-600 text-sm md:text-base">Sorry, the page <span class="not-found"></span> could not be found.</p>
				<p class="mb-9 text-center text-gray-600 text-sm md:text-base"><a class="text-green-500 hover:underline" href="/">< Back to blog</a></p>
			</div>

			<script defer src="/js/not-found.js"></script>
		{# /div .container #}
	{# /body #}
{# /html #}
