---
layout: base.njk
---

{% for post in collections.posts | reverse %}
<!--Post-->
<div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal">
	<!--Title-->
	<div class="font-sans">
		<h1 class="font-bold font-sans break-normal text-gray-900 mt-6 mb-8 text-3xl md:text-4xl text-center"><a class="text-green-500 no-underline hover:underline" href=".{{ post.url }}">{{ post.data.postTitle }}</a></h1>
		<p class="text-sm md:text-base font-normal text-gray-600 mb-9 text-center">Published {{ post.data.published }}</p>
	</div>

	<!--Post Content-->
	<div class="post-content">
		{{ post.content | safe }}
	</div>

	<!--Tags -->
	{# <div class="text-base md:text-sm text-gray-500 px-4 py-6">
		Tags: /
		{% for label in post.data.labels %}
			<a href="{{ post.url }}" class="text-base md:text-sm text-green-500 no-underline hover:underline">{{ label }}</a> /
		{% endfor %}
	</div> #}

	<!--Divider-->
	<hr class="border-b-2 border-gray-400 mb-8 mx-4">
</div>
{% endfor %}

<!--Next & Prev Links-->
<div class="font-sans flex justify-between content-center px-4 pb-12">
	<div class="text-left">
		<a href="#"><span class="break-normal text-base md:text-sm text-green-500 font-bold no-underline hover:underline">&lt; Previous</span></a>
	</div>
	<div class="text-right">
		<a href="#"><span class="break-normal text-base md:text-sm text-green-500 font-bold no-underline hover:underline">Next &gt;</span></a>
	</div>
</div>
