---
siteTitle: Andrew Bruner
siteAuthor: Andrew Bruner
siteDescription: Front-end web and JavaScript developer
siteKeywords: [developer, web developer, front-end, javascript,]
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ siteTitle }}</title>
    <meta name="author" content="{{ siteAuthor }}" />
    <meta name="description" content="{{ siteDescription }}" />
    <meta name="keywords" content="{{ siteKeywords }}" />
		<link rel="stylesheet" href="/css/prism-vsc-dark-plus.css" />
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css" />
  </head>

	<body class="bg-gray-100 font-sans">
		<header class="bg-gray-100 fixed top-0 w-full z-10">
			<div id="progress-bar" class="h-1" style="background:linear-gradient(to right, #4dc0b5 var(--scroll), transparent 0);"></div>
			<nav class="flex flex-wrap items-center justify-between mx-auto my-3 w-full md:max-w-4xl">
				<a class="font-extrabold no-underline px-4 py-2 text-gray-900 text-xl hover:no-underline hover:text-gray-600" href="/">{{ siteTitle }}</a>
				<button id="navigation-toggle" class="appearance-none border border-gray-600 flex items-center mr-4 px-3 py-2 rounded text-gray-600 focus:outline-none hover:border-green-500 hover:text-gray-900 lg:hidden">
					<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<title>Menu</title>
						<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
					</svg>
				</button>
				<ul id="navigation-content" class="hidden mt-2 w-full lg:flex lg:mt-0 lg:w-auto">
					<li>
						<a class="inline-block px-6 py-2 w-full hover:underline {% if page.url == '/' %}font-bold text-gray-900 hover:text-gray-600{% else %}text-gray-600 hover:text-gray-900{% endif %}" href="/">Blog</a>
					</li>
					<li>
						<a class="inline-block px-6 py-2 text-gray-600 w-full hover:text-gray-900 hover:underline" href="https://github.com/andrewbruner">Code</a>
					</li>
					<li>
						<a class="inline-block px-6 py-2 text-gray-600 w-full hover:text-gray-900 hover:underline" href="mailto:andrewbruner@gmail.com">Contact</a>
					</li>
				</ul>
			</nav>
		</header>

		<div class="container mt-28 mx-auto w-full md:max-w-3xl">
			{{ content | safe }}
		</div>

    <footer class="bg-white border-gray-400 border-t">
			<div class="container flex flex-wrap max-w-4xl mt-8 mx-auto pb-8 w-full">
				<div class="px-8 w-full md:w-1/2">
					<h3 class="font-bold text-gray-900">About</h3>
					<p class="leading-6 mt-3 mb-5 text-gray-600 text-sm">
						Hi. My name is Andrew.<br />
						I'm a front-end-web and JavaScript developer.<br />
						If you'd like to contact me, please email me at
						<a class="text-green-500 hover:underline" href="mailto:andrewbruner@gmail.com">andrewbruner@gmail.com</a>
					</p>
				</div>
				<div class="px-8 w-full md:w-1/2">
					<h3 class="font-bold text-gray-900">Social</h3>
					<ul class="mt-3 text-sm">
						<li class="my-2">
							<a class="text-gray-600 hover:text-gray-900 hover:underline" href="https://github.com/andrewbruner">GitHub</a>
						</li>
						<li class="my-2">
							<a class="text-gray-600 hover:text-gray-900 hover:underline" href="https://fosstodon.org/@andrewbruner">Mastodon</a>
						</li>
						<li class="my-2">
							<a class="text-gray-600 hover:text-gray-900 hover:underline" href="https://www.linkedin.com/in/andrewjbruner/">LinkedIn</a>
						</li>
					</ul>
				</div>
				<small class="mt-4 mx-8 text-gray-600 text-sm w-full">&copy; 2021-<script>document.write(new Date().getFullYear())</script> Andrew Bruner</small>
			</div>
		</footer>

    <script>
			const header = document.querySelector('header');
			const progressBar = document.querySelector('#progress-bar');
			const navigationToggle = document.querySelector('#navigation-toggle');
			const navigationContent = document.querySelector('#navigation-content');

			document.addEventListener('scroll', () => {
				const scrollPosition = window.scrollY;
				const fullHeight = document.querySelector('html').scrollHeight;
				const viewHeight = window.innerHeight;
				const scroll = (scrollPosition / (fullHeight - viewHeight)) * 100
				progressBar.style.setProperty('--scroll', `${scroll}%`);

				if (scrollPosition > 10) {
					header.classList.remove('bg-gray-100');
					header.classList.add('bg-white');
					header.classList.add('shadow');
				} else {
					header.classList.remove('bg-white');
					header.classList.add('bg-gray-100');
					if (navigationContent.classList.contains('hidden')) {
						header.classList.remove('shadow');
					}
				}
			});

			navigationToggle.addEventListener('click', () => {
				navigationContent.classList.toggle('hidden');
				if (window.scrollY <= 10) {
					header.classList.toggle('shadow');
				}
			});

			/*Apply tailwind classes for .post-content*/
			const h1List = document.querySelectorAll('.post-content h1');
			for (h1 of h1List) {
				h1.classList.add('font-bold', 'font-sans', 'break-normal', 'text-gray-900', 'mt-0', 'mb-7', 'text-3xl', 'md:text-4xl');
			}
			const h2List = document.querySelectorAll('.post-content h2');
			for (h2 of h2List) {
				h2.classList.add('font-semibold', 'font-sans', 'break-normal', 'text-gray-900', 'mt-14', 'mb-8', 'text-2xl', 'md:text-3xl');
			}
			const h3List = document.querySelectorAll('.post-content h3');
			for (h3 of h3List) {
				h3.classList.add('font-medium', 'font-sans', 'break-normal', 'text-gray-900', 'mt-10', 'mb-4', 'text-xl', 'md:text-2xl');
			}
			const h4List = document.querySelectorAll('.post-content h4');
			for (h4 of h4List) {
				h4.classList.add('font-normal', 'font-sans', 'break-normal', 'text-gray-900', 'mt-14', 'mb-6', 'text-lg', 'md:text-xl');
			}
			const h5List = document.querySelectorAll('.post-content h5');
			for (h5 of h5List) {
				h5.classList.add('font-normal', 'font-sans', 'break-normal', 'text-gray-900', 'mt-14', 'mb-6', 'text-base', 'md:text-lg');
			}
			const h6List = document.querySelectorAll('.post-content h6');
			for (h6 of h6List) {
				h6.classList.add('font-normal', 'font-sans', 'break-normal', 'text-gray-900', 'mt-14', 'mb-6', 'text-base', 'md:text-base');
			}
			const pList = document.querySelectorAll('.post-content p');
			for (p of pList) {
				p.classList.add('my-6');
			}
			const ulList = document.querySelectorAll('.post-content ul');
			for (ul of ulList) {
				ul.classList.add('list-disc', 'pl-6');
			}
			const olList = document.querySelectorAll('.post-content ol');
			for (ol of olList) {
				ol.classList.add('list-decimal', 'pl-6');
			}
			const liList = document.querySelectorAll('.post-content li');
			for (li of liList) {
				li.classList.add('my-3');
			}
			const aList = document.querySelectorAll('.post-content a');
			for (a of aList) {
				a.classList.add('text-green-500', 'no-underline', 'hover:underline');
			}
			const blockquoteList = document.querySelectorAll('.post-content blockquote');
			for (blockquote of blockquoteList) {
				blockquote.classList.add('border-l-4', 'border-green-500', 'italic', 'my-8', 'pl-8', 'md:pl-12');
			}
			const preList = document.querySelectorAll('pre');
			for (pre of preList) {
				pre.classList.add('rounded', 'my-6', 'text-sm');
			}
			const codeList = document.querySelectorAll('.post-content code');
			for (code of codeList) {
				if (code.parentElement.tagName.toLowerCase() !== 'pre') {
					code.classList.add('rounded', 'break-words', 'whitespace-pre-wrap', 'p-1', 'text-base', 'bg-gray-300');
					code.style.boxDecorationBreak = 'clone';
					code.style.webkitBoxDecorationBreak = 'clone';
				}
			}
		</script>
	</body>
</html>
