---
layout: base.njk
---

<div class="w-full px-4 md:px-6 text-xl text-gray-800 leading-normal">
	<!--Title-->
	<div class="font-sans">
		<span class="text-base md:text-sm text-green-500 font-bold uppercase">< <a href="/" class="hover:underline">Back to blog</a></span>
		<h1 class="font-bold font-sans break-normal text-gray-900 mt-6 mb-8 text-3xl md:text-4xl text-center">{{ title }}</h1>
		<p class="text-sm md:text-base font-normal text-gray-600 mb-9 text-center">
			{% for date in history %}
				{% if loop.first or loop.last %}
					{{ date.getDate() }} {{ months[date.getMonth()] }} {{ date.getFullYear() }}
				{% endif %}
				{% if loop.first and loop.length > 1 %}
					&mdash;
				{% endif %}
			{% endfor %}
		</p>
	</div>

	<!--Post Content-->
	<div class="post-content">
		{{ content | safe }}
	</div>

	<hr class="border-b-2 border-gray-400 mb-8">

	<div class="font-sans flex gap-2 justify-between content-center px-4 pb-12">
		<div class="flex-1 text-left">
			{% set previousPost = collections.posts | getPreviousCollectionItem %}
			{% if previousPost %}
			<span class="text-xs md:text-sm font-normal text-gray-600">< Previous Post</span><br>
			<p><a href="{{ previousPost.url }}" class="text-base md:text-sm text-green-500 font-bold hover:underline">{{ previousPost.data.title }}</a></p>
			{% endif %}
		</div>
		<div class="flex-1 text-right">
			{% set nextPost = collections.posts | getNextCollectionItem %}
			{% if nextPost %}
			<span class="text-xs md:text-sm font-normal text-gray-600">Next Post ></span><br>
			<p><a href="{{ nextPost.url }}" class="text-base md:text-sm text-green-500 font-bold hover:underline">{{ nextPost.data.title }}</a></p>
			{% endif %}
		</div>
	</div>

	<!--Tags -->
	{# <div class="text-base md:text-sm text-gray-500 px-4 py-6">
		Tags: /
		{% for label in labels %}
			<a href="{{ url }}" class="text-base md:text-sm text-green-500 no-underline hover:underline">{{ label }}</a> /
		{% endfor %}
	</div> #}
</div>
